extends base.pug


block content
    h4 Change Title of video
    form(method="POST")  <!--action 데이터가 넘어가게 되는 곳-->
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(value="Save", type="submit")
    